<h1>Billboards#index</h1>
<%= link_to "New Billboard", new_billboard_path %>
<hr / />
<% @billboards.each do |billboard| %>
  <h3><%= link_to "#{billboard.name} - #{billboard.region}", billboard_path(billboard) %></h3>
  <%= link_to "edit", edit_billboard_path(billboard) %>
  <%= link_to "delete", billboard_path(billboard), method: :delete %>
  <br />
<% end %>
