<h2>Add a song to the <% "#{@billboard.name}"%> chart</h2>
<%= link_to 'Go Back', billboards_path %>

<% @songs.each do |song| %>
  <li>
    <%= link_to song.name, add_billboard_song_path(@billboard, song), method: :post %>
  </li>
  <hr />
<% end %>
